.logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  .spacer {
    flex: 1 1 auto;
  }
  mat-toolbar {
    background: linear-gradient(to right, #3f51b5, #2196f3);
    color: white;
  }
  button[mat-button] {
    color: white;
  }